{% extends 'doctorheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>

  {% block content %}
    <style type="text/css">
    table,
    tr,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      font-size: 18px;
    }

    table {
      width: 100%;
    }

    th,
    td {
      height: 50px;
    }
  </style>
  <main class="main">
<!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Doctor Apply Prescription Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/doctormainpage">Home</a></li>
            <li class="current">Doctor Apply Prescription Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-12">
            <h3 class="pt-0 pt-lg-5">Doctor Apply Prescription Page</h3>

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="about-2-tab1">

                <p class="fst-italic">
                <table>
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Specialization</th>
                      <th>DoctorFees</th>
                      <th>Appointment Date</th>
                      <th>Appointment Time</th>
                      <th>Appointment Status</th>
                      <th>Update Prescription</th>
                      <th>View Prescription</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data %}
                    <tr>
                      <td>{{row.id}}</td>
                      <td>{{row.FirstName}}</td>
                      <td>{{row.LastName}}</td>
                      <td>{{row.Specialization}}</td>
                      <td>{{row.DoctorFees}}</td>
                      <td>{{row.AppointmentDate}}</td>
                      <td>{{row.AppointmentTime}}</td>
                      <td>{{row.AppointmentStatus}}</td>
                      <td>
                            {%if row.PrescriptionStatus == "NotUpdated" %}
                            <a href="doctorupdateprescription?id={{row.id}}">Update Prescription</a>
                            {%else%}
                              Updated
                            {% endif %}
                        </td>
                        <td>
                            {%if row.PrescriptionStatus == "NotUpdated" %}
                            Not Updated
                            {%else%}
                            <a href="doctorviewprescription?id={{row.id}}">View Prescription</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
                </p>

              </div><!-- End Tab 1 Content -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /About 2 Section -->
      </main>      
{% endblock %}
</body>

</html>
