{% extends 'commonheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">  
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body class="index-page">

  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/index">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Digital Health Records</a></h4>
                <p class="description">
                Centralized storage of medical history, vaccination certificates, allergy information, and diagnostic reports.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Vaccination/Medication Reminders</a></h4>
                <p class="description">
                  Automated alerts for upcoming vaccinations, flea/tick treatments, and medication times.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Telehealth & Online Consultations</a></h4>
                <p class="description">Secure video consultations with veterinary professionals, allowing for remote diagnosis and follow-up care.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Unified Scheduling</a></h4>
                <p class="description">Real-time booking of grooming, boarding, training, daycare, and vet appointments in one location.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Automated Scheduling Tools</a></h4>
                <p class="description">Features for rescheduling, cancellation, and automated reminders for both customers and staff to minimize no-shows.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Search and Filter Capabilities</a></h4>
                <p class="description"> Tools to find verified, local service providers based on user criteria (location, service type, ratings).</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  </main>
{% endblock %}

</body>

</html>