{% extends 'userheader.html' %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>

  {% block content %}
  <script type="text/javascript">
    function calcfunc()
    {
        //alert('hi');
        var rqty = document.getElementById('rqty').value;
        var qty = document.getElementById('qty').value;
        var price = document.getElementById('price').value;
        
        if(rqty == '' || price=='')
        {
            document.getElementById('total').value="0"
        }
        else if(parseInt(rqty)>parseInt(qty))
        {
            alert('Sorry Required Qty > Available Qty');
            document.getElementById('rqty').value=""
            document.getElementById('total').value="0"
        }
        else
        {
            qty = parseInt(rqty);
            amt = parseInt(price);
            document.getElementById('total').value=(qty*amt);
        }
    }
</script>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">User Add To Cart Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/usermainpage">Home</a></li>
            <li class="current">User Add To Cart Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="row gy-4">
          <div class="col-lg-8">
            <form action="/useraddtocart1" method="post" data-aos="fade-up" data-aos-delay="200"
              enctype="multipart/form-data">
              <div class="row gy-4">

                <div class="col-md-6">
                  Accessory Id :
                  <input type="text" name="aid" class="form-control" placeholder="Accessory Id" required=""
                  maxlength="15" value="{{data.id}}">
                </div>

                <div class="col-md-6">
                  Accessory Name :
                  <input type="text" name="aname" class="form-control" placeholder="Accessory Name" required=""
                  maxlength="15" value="{{data.AccessoryName}}">
                </div>

                <div class="col-md-6 ">
                  Accessory Type :
                  <input type="text" class="form-control" name="accessorytype" placeholder="Accessory Type" required=""
                   value="{{data.AccessoryType}}">
                  <!-- <select class="form-control" name="accessory">
                    {% for x in accessoriestypes%}
                    <option>{{x}}</option>
                    {%endfor%}
                  </select> -->
                </div>

                <div class="col-md-6 ">
                  Available Quantity :
                  <input type="text" class="form-control" name="qty" id="qty" placeholder="Quantity" required=""
                    maxlength="5" value="{{data.Quantity}}">
                </div>

                <div class="col-md-6">
                  Price :
                  <input type="text" name="price" id="price" class="form-control" placeholder="Price" required=""
                   value="{{data.Price}}">
                </div>

                <div class="col-md-6 ">
                  Required Quantity :
                  <input type="text" class="form-control" name="rqty" id="rqty" placeholder="Quantity" required=""
                    maxlength="5" onkeyup="calcfunc()">
                </div>

                <div class="col-md-6">
                  Total Price :
                  <input type="text" name="total" id="total" class="form-control" placeholder="Total" required=""
                  readonly>
                </div>


                <div class="col-md-6 ">
                  <!-- <input type="file" class="form-control" name="file" placeholder="Upload File" required=""> -->
                   Uploaded Image :
                  <img src="/static/uploads/{{data.FileName}}" width="50px" height="50px"/>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="description" rows="6" placeholder="Description" required="">
                     {{data.Description}}
                  </textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" style="width: 150px; height: 75px; border-radius: 10px;">
                    User Add To Cart
                  </button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>
  {% endblock %}
</body>

</html>