{% extends 'userheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body class="index-page">
  {% block content %}
     <style type="text/css">
          table, tr, td, th{
          border:1px solid black;
          text-align:center;
          font-size:20px;
          }
          table{
          width:80%;
          margin-left:100px;
          }
    </style>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">User View Profile Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/usermainpage">Home</a></li>
            <li class="current">User View Profile Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="/static/assets/img/Pic1.jfif" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="about-2-tab1">
                            <h2>User View Profile Page</h2>
            <p>
            <table>
                <tr>
                    <th>User Id</th>
                    <td>{{data.id}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{data.FirstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{data.LastName}}</td>
                </tr>
                <tr>
                    <th>User Name</th>
                    <td>{{data.UserName}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{data.PhoneNumber}}</td>
                </tr>
                <tr>
                    <th>Email Id</th>
                    <td>{{data.EmailId}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{data.Address}}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                    <img src="/static/uploads/{{data.FileName}}"
                    width="50px" height="50px"/>
                    </td>
                </tr>
            </table>
            </p>

              </div><!-- End Tab 1 Content -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /About 2 Section -->

  </main>
{% endblock %}

</body>

</html>